*{
    margin:0;
    padding:0;
}
body{
    font-family:'Arial', sans-serif;
}

.parent{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.topic{
    width:80%;
    margin:auto;
    border-bottom:5px solid #ccae62;
    background-color: khaki;
}


span{
    font-size: 25px;
}

.content1{
    margin: auto;
    width:80%;
    background-color:lightgrey;
}

.remainder{
    background-color: aqua;
    width:20%;
    border-radius: 5%;
    margin: auto;
    border-style: solid;
    border-width: thin;
    border-color: #000000;
    margin-top: 10px;
}
.inside{
    width: 100%;
    border: 1px solid #000;
    display: flex;
}

.left-side, .right-side{
    width: 100%;
    border: 1px solid #000;

}

.btn-left, .btn-right{
    display: flex;

}



.itraukti, .itraukti-2 {
    background-color: whitesmoke;
    width:20%;
    border-radius: 5%;
    margin: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #000000;
}

.nuostoliai {
    background-color: indianred;
    width:20%;
    border-radius: 5%;
    margin: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #000000;


}

.pajamos{
    background-color: palegreen;
    width:20%;
    border-radius: 5%;
    margin: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #000000;
}





.atlyginimas, .palukanos, .total2 {
    background-color: indianred;
    width:20%;
    border-radius: 5%;
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #000000;
}

.kelione, .nuoma, .total {
    background-color: palegreen;
    width:20%;
    border-radius: 5%;
    margin: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #000000;
}